.cartItem {
  border-radius: 12px;
  border: 1px solid #ddd;
  display: flex;
  width: 100%;
  gap: 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
  min-height: 180px;
  overflow: hidden;
}
.imageWrap {
  width: 200px;
  overflow: hidden;
  border-right: 1px solid var(--grey-divider, #ddd);
  display: flex;
  align-items: center;
}
.productImage {
  display: block;
  width: 100%;
}

.productContent {
  flex: 1;
  padding: 32px 32px 6px 0;
}

.productHeader {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.productName {
  color: #282828;
  font: 500 20px/1.3 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close {
  background: url('/public/images/cart_close.svg') center center no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
}

.productFooter {
  display: flex;
  margin-top: 32px;
  width: 100%;
  align-items: center;
  gap: 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .imageWrap {
    width: 100%;
  }
  .productContent {
    padding: 16px;
  }
}