.popup {
  width: 80%;
  max-width: 484px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  border-radius: 12px;
  background: var(--green-color, #393);
  color: #fff;
  font-weight: 600;
  padding: 32px;
}

.errorPopup{
  background: red;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
  opacity: 0.4;
  z-index: 20;
  transition: 1s all;
}

.content {
  max-width: 424px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
}

.message {
  font-size: 20px;
  line-height: 22px;
}

.message p{
  line-height: 22px;
  margin-top: 20px;
}

.close {
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  top: 32px;
  right: 32px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background: url('/public/images/close_modal.svg') center center no-repeat;
}

@media (max-width: 991px) {
  .popup {
    padding: 64px 16px 16px 16px;
  }
  .title {
    font-size: 32px;
  }
  .close {
    top: 16px;
    right: 16px;
  }
}