:root{
  --grey-divider: #ddd;
  --txt-black: #282828;
  --green-color: #339933;
}
* {
	margin: 0;
	padding: 0;
	line-height: 1.8;
}
body {
  font: 500 20px/1.3 Montserrat, Roboto, Helvetica, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: var(--txt-black);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.heading {
  color: #282828;
  font: 700 64px/1.1 Montserrat, Roboto, Helvetica, sans-serif;
  margin: 0;
}
.page_wrap {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  background: white;
}
.section {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .section {
    padding: 0 16px;
  }
  .heading {
    font-size: 40px;
  }
}